
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_layout_mobile.cshtml";
}

<h2>Login</h2>

<a class="btn btn-default" href="https://accounts.google.com/o/oauth2/auth?client_id=957493190972-s8psio9a06qa0adiui0058fo7lcnqjum.apps.googleusercontent.com&redirect_uri=https://localhost:44375/User/Profile&scope=https://www.googleapis.com/auth/userinfo.profile&response_type=code&state=asdafwswdwefwsdg">Goggle Log in</a>